/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*html,*/


/*body {*/


/*    height: 100%;*/


/*}*/


/*video CSS*/

body {
    background-color: #E6E6E6;
}

.vidContainer {
    position: relative;
    max-height: calc(100vh - 52px);
    overflow: hidden;
    z-index: -1;
}

.bgVid {
    position: relative;
    width: 100vw;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -1;
}

.vidContent {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 8vw;
    font-weight: 700;
}

p span {
    display: block;
}


/*homepage content css*/

.homeContent {
    color: #2FA8A1;
    margin-top: 25px;
    /*height:100vh;*/
}

.title {
    text-align: center;
}

.introContent {
    font-size: 15px;
    display: inline-block;
    text-align: center;
}

#diffColor {
    background-color: #E6E6E6;
}

#diffColor2 {
    background-color: #2FA8A1;
}

.navStyle {
    font-family: 'Oxygen', sans-serif;
}

.subtitle {
    font-weight: bold;
}

/*.introText {*/
/*    font-size: 18px;*/
/*}*/

#diffColor2 {
    background-color: #2FA8A1;
}

.InText {
    color: #E6E6E6;
}

.ImageIn {
    margin-bottom: 35px;
}

@media only screen and (max-width: 768px) {
    .placement {
        /*margin-left:100px;*/
        width: 90vw;
        position: relative;
        left: 7.5vw;
    }
    .placement-right {
        width: 90vw;
        position: relative;
        right: 1.5vw;
    }
}

iframe {
    max-width: 90vw;
    max-height: 100vh;
    width: 60vw;
    height: 33vw;
}

.vidFrame {
    color: #E6E6E6;
}


/* ultrawide+ */

@media screen and (min-height: 1000px) and (min-width: 1900px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 52px;
    }
    h3 {
        font-size: 45px;
    }
    h4 {
        font-size: 40px;
    }
    ul,
    p {
        font-size: 40px;
    }
    .glyphicon {
        font-size: 52px;
    }
    #title {
        font-size: 160px;
    }
}