/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#wrapper.toggled .content {
    position: absolute;
    margin-right: -250px;
}


/*sidebar CSS*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #E6E6E6;*/
    background: linear-gradient(to bottom right, white, #A6A8AB);
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #2FA8A1;
}

.sidebar-nav li a:hover {
    color: #DF1C80;
    background: rgba(255, 255, 255, 0.6);
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #0073A5;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #DF1C80;
    background: none;
}

li {
    text-decoration: none;
}


/*hide/show top navbar*/

@media(max-width:768px) {
    .navbar ul {
        display: none;
    }
}

@media(min-width:768px) {
    #menu-toggle {
        display: none;
    }
}

#menu-toggle {
    float: right;
}
