html,
body {
    height: 100%;
}


/*video CSS*/

.vid-container {
    position: relative;
    max-height: 80vh;
    width: 100%;
    overflow: hidden;
    z-index: -9999;
}

.bgVid {
    position: absolute;
    width: 100vw;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: -9999;
}

.vidContent {
    color: red;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.13);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}


/*content css*/

.content {
    width: 100%;
    position: absolute;
}
