/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*toggle button CSS*/

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ddd;
    border-color: transparent;
}


/*navbar CSS*/

.navbar {
    background: linear-gradient(to bottom left, #0073A5, #2FA8A1);
    border-color: transparent;
    display: block;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #DF1C80;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


/*logo CSS*/


/*.navbar-brand {*/


/*    padding-bottom:23%;*/


/*}*/


/*hide/show top navbar*/

@media(max-width:768px) {
    .navbar ul {
        display: none;
    }
}

@media(min-width:768px) {
    #menu-toggle {
        display: none;
    }
}
