/*toggle button CSS*/

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

.navbar {
    background-color: white;
    display: block;
    margin-bottom: 0;
 
}
.navbar-default .navbar-nav>li>a:hover {
    color: blue;
}
