/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*toggle button CSS*/

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #DF1C80;
    border-color: transparent;
}


/*navbar CSS*/

.navbar {
    background: linear-gradient(to bottom left, #0073A5, #2FA8A1);
    border-color: transparent;
    display: block;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #DF1C80;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}


/*logo CSS*/


/*.navbar-brand {*/


/*    padding-bottom:23%;*/


/*}*/


/*hide/show top navbar*/


/*ultrawide+*/

@media screen and (min-height: 1000px) and (min-width: 190px) {
    .nav li {
        font-size: 40px;
    }
    .navbar {
        height: 104px;
    }
    .navbar-brand img{
         width: 240px;
        height: 80px;
    }
}