p {
    margin: auto;
    transform: translateX(10px);
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #5BADA7;
}

body {
    background-color: #E6E6E6;
}

p span {
    display: block;
}

/*video*/

.vidContainer {
    position: relative;
    max-height: calc(100vh - 52px);
    overflow: hidden;
    z-index: -1;
}

.bgVid {
    position: relative;
    width: 100vw;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -1;
}

.vidContent {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 8vw;
    font-weight: 700;
}

/*homepage content css*/

.homeContent {
    color: #2FA8A1;
    margin-top: 25px;
    /*height:100vh;*/
}

.title {
    text-align: center;
}

#diffColor {
    background-color: #E6E6E6;
}

#diffColor2 {
    background-color: #2FA8A1;
}

.navStyle {
    font-family: 'Oxygen', sans-serif;
}

.subtitle {
    font-weight: bold;
}

.ImageIn {
    margin-bottom: 35px;
}

.Cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 992px) {
    .introText {
        font-size: 14px;
    }
    .SMhead2 {
        font-size: 22px;
    }
}


/*slide animations*/

.slideanim, .slideanim2, .slideanim3 {
    visibility: hidden;
}

.slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    visibility: visible;
}

.slideLeft{
    animation-name: slideLeft;
    animation-duration: 1s;
    visibility: visible;
}

.slideRight{
    animation-name: slideRight;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

