/*responsive font sizes*/


/*responsive font size*/


/*phones*/

@media screen and (max-height: 580px) and (max-width: 330px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 12px;
    }
    ul,
    p {
        font-size: 10px;
    }
    .glyphicon {
        font-size: 16px;
    }
}


/*720p*/

@media screen and (min-height: 768px) and (min-width: 1350px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 29px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 22px;
    }
    ul,
    p {
        font-size: 20px;
    }
    .glyphicon {
        font-size: 29px;
    }
}


/*1080p*/

@media screen and (min-height: 1000px) and (min-width: 1900px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 35px;
    }
    h4 {
        font-size: 30px;
    }
    ul,
    p {
        font-size: 25px;
    }
    .glyphicon {
        font-size: 40px;
    }
}


/*ultrawide+*/

@media screen and (min-height: 1000px) and (min-width: 2500px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 52px;
    }
    h3 {
        font-size: 45px;
    }
    h4 {
        font-size: 40px;
    }
    ul,
    p {
        font-size: 35px;
    }
    .glyphicon {
        font-size: 52px;
    }
}

p {
    margin: auto;
    transform: translateX(10px);
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

.content {
    list-style-position: inside;
}

h1 {
    color: #5BADA7;
}

body {
    background-color: #E6E6E6;
}

p span {
    display: block;
}

.row {
    padding-right: 50px;
}


/*video*/

.vidContainer {
    position: relative;
    max-height: calc(100vh - 52px);
    overflow: hidden;
    z-index: -1;
}

.bgVid {
    position: relative;
    width: 100vw;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -1;
}

.vidContent {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 8vw;
    font-weight: 700;
}


/*homepage content css*/

.homeContent {
    color: #2FA8A1;
    margin-top: 25px;
    /*height:100vh;*/
}

.title {
    text-align: center;
}

#diffColor {
    background-color: #E6E6E6;
}

#diffColor2 {
    background-color: #2FA8A1;
}

.navStyle {
    font-family: 'Oxygen', sans-serif;
}

.subtitle {
    font-weight: bold;
}

.ImageIn {
    margin-bottom: 35px;
}

.Cent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bulletCenter {
    list-style-position: inside;
}

/*@media only screen and (max-width: 768px) and (max-width: 992px) {*/
/*    .introText {*/
/*        font-size: 14px;*/
/*    }*/
/*    .SMhead2 {*/
/*        font-size: 22px;*/
/*    }*/
/*}*/


/*slide animations*/

.slideanim,
.slideanim2,
.slideanim3 {
    visibility: hidden;
}

.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

.slideLeft {
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

.slideRight {
    -webkit-animation-name: slideRight;
    animation-name: slideRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-70%);
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

