theme


magenta: #DF1C80


aqua: #2FA8A1


gray: #A6A8AB


bright gray: #E6E6E6


blue: #0073A5

.title {
    text-align: center;
}

#diffColor2 {
    background-color: #E6E6E6;
}

#roboticsVid {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.images {
    position: relative;
    width: 50vw;
    height: 50vw;
    margin: auto;
    margin-top: 5%;
    transition: 1s ease-out;
    z-index: 0;
}

.imgBox {
    position: relative;
    display: inline;
    left: 25%;
}

@media screen and (min-width: 768px) {
    .images {
        position: relative;
        width: 30vw;
        height: 30vw;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        transition: 1s ease-out;
        z-index: 0;
    }
}

.imgBox:hover > img {
    -webkit-filter: blur(5px);
}

.imgText {
    position: absolute;
    top: 3%;
    opacity: 0;
    z-index: 9999;
    color: #DF1C80;
    font-size: 35px;
    width: 100%;
    text-align: center;
    transition: 1s ease-out;
}

.imgBox:hover > .imgText {
    opacity: 1;
    background-color: rgba(18, 66, 63, 0.7);
}

#roboticsVid{
    width:90%;
    margin-left:15%;
    margin-top: 10%
}
