/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*cyan blue: #40e0d0*/

html,
body {
    height: 100%;
}

body {
    text-align: center;
    background-color: #E6E6E6;
    width: 100vw;
    }

hr {
    margin-top: 0;
    margin-bottom: 0;
}

hr.a {
    border-top: 3px double #E6E6E6;
    width: 80%;
}

hr.b {
    height: 10px;
    border: 0;
    box-shadow: 0 15px 15px -15px black inset;
    width: 100%;
}

.whiteHeading {
    background-color: #E6E6E6;
    width: 100vw;
}

.cyanHeading {
    background-color: #40e0d0;
    width: 100%;
    margin-left: 0;
    color:white;
}

.content {
    width: 100vw;
}

.row {
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right:0;
}

/*@media screen and (min-width: 325px) and (min-height: 570px) {*/
/*    .sectionMargin {*/
/*        margin-top: 15vh;*/
/*    }*/
/*}*/

/*.sectionMargin {*/
/*    margin-top: 5vh;*/
/*}*/

.robotics,
.processing,
.data,
.github,
.web {
    height: 100vh;
}

.scratch,
.processing,
.github {
    background-color: #40e0d0;
}


/*scroll button*/

.row a {
    position: absolute;
    left: 50%;
    z-index: 2;
    /*bottom: 50px;*/
    margin: auto;
    bottom: 18px;
    /*   margin-right: 0;*/
    /*margin-left: 0;*/
}

.row a:hover {
    background-color: #DF1C80;
}

.sections a span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(315deg);
    /*-webkit-transform: rotate(135deg);*/
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition: 1.5s;
    left: 18px;
    bottom: 20px;
}

.circleCrop {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    margin:auto;
  
}

.circleCrop2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*margin: auto;*/
    background-color: #2FA8A1;
}

.circleCrop2:hover span {
    -webkit-transform: rotateY(180deg) rotateZ(315deg);
}


/*image flip*/

.flipBox {
    -webkit-perspective: 1000px;
}

.flipBox:hover .flip,
.flipBox.hover .flip {
    -webkit-transform: rotateY(180deg);
}

.flip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
}

.flip,
.flipBox,
.front,
.back,
.size {
    width: 50vw;
    height: 50vw;
    max-width: 50vh;
    max-height: 50vh;
}



/******section scratch******/

.scratch {
    height: calc(100vh - 121px);
}

#scratchImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {
    #scratchText {
        top: 35%;
        transform: translateY(-35%);
    }
}



/******section robotics******/

@media screen and (min-width: 768px) {
    #roboticsText {
        top: -60%;
        transform: translateY(60%);
    }
    #processingText {
        top: 20vh;
        /*transform: translateY(-150vh);*/
    }
}


/******section processing******/

@media screen and (min-width: 768px) {
    #roboticsText {
        top: -60%;
        transform: translateY(60%);
    }
    #processingText {
        top: 20vh;
        /*transform: translateY(-150vh);*/
    }
}


/******section data******/

#data {
    width: 80vw;
    max-height:70vh;
    margin: auto;
}


/******section github******/

#github {
    width: 40vw;
    height: 40vw;
    max-height: 50vh
}


/******section web design******/

#sectionWeb {
    height: 100vh;
    }

.con {
    /*web design content section*/
    height: 100%;
    background-color: #E6E6E6;
}

.design {
    height: 100%;
    background-color: #40e0d0;
}

.interactivity {
    height: 100%;
    background-color: #E6E6E6;
}

@media screen and (max-width: 768px) {
    .design {
        width: 100vw;
    }
}

.sectionWeb {
    height: 100vh;
}



/*scroll up button*/

.sectionTop {
    -webkit-transform: rotate(180deg);
}
