/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*cyan blue: #40e0d0*/

body {
    text-align: center;
    background-color: #E6E6E6;
}

.circleCrop {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

.row {
    padding-bottom: 30px;
    position: relative;
}

.scratch {
    height: calc(100vh - 122px);
}

.robotics,
.processing,
.data,
.github,
.web {
    height: 100vh;
}

.scratch,
.processing,
.github {
    background-color: #40e0d0;
}

.con {
    height: 100%;
    background-color: #40e0d0;
}

.design {
    height: 100%;
    background-color: #E6E6E6;
}

.interactivity {
    height: 100%;
    background-color: #2FA8A1;
}

.imgLeft {
    /*position: absolute;*/
    /*margin-left: 15px;*/
    /*margin-top: 15vh;*/
    width: 300px;
}

.imgRight {
    /*position: absolute;*/
    /*margin-right: 0px;*/
    /*margin-top: 15vh;*/
    width: 300px;
}

#data {
    width: 600px;
    margin: auto;
}

#github {
    width: 100%;
}


/*@media screen and (max-width: 763px) {*/


/*    .push {*/


/*        background-color: lightgreen;*/


/*    }*/


/*}*/


/*scroll*/


/*https://css-tricks.com/snippets/jquery/smooth-scrolling/*/


/*http://codepen.io/nxworld/pen/OyRrGy*/

.row a {
    position: absolute;
    left: 50%;
    z-index: 2;
    bottom: 50px;
    opacity: .8;
    width: 30px;
}

.row a:hover {
    opacity: 1;
}

.sections a span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
