/*theme*/


/*magenta: #DF1C80*/


/*aqua: #2FA8A1*/


/*gray: #A6A8AB*/


/*bright gray: #E6E6E6*/


/*blue: #0073A5*/


/*cyan blue: #40e0d0*/

body {
    text-align: center;
    background-color: #E6E6E6;
    width: 100vw;
    /*overflow: hidden; */
    /*overflow:auto;*/ 
}

.content {
    width: 100vw;
    /*overflow: auto;*/
    /*overflow:scroll;*/
    /*overflow-y: scroll;*/
}

.circleCrop {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

.row {
    padding-bottom: 30px;
    position: relative;
}

.scratch {
    height: calc(100vh - 122px);
}

.robotics,
.processing,
.data,
.github,
.web {
    height: 100vh;
}

.scratch,
.processing,
.github {
    background-color: #40e0d0;
}

.con {
    height: 100%;
    background-color: #40e0d0;
}

.design {
    height: 100%;
    background-color: #E6E6E6;
}

.interactivity {
    height: 100%;
    background-color: #2FA8A1;
}

.imgLeft {
    width: 500px;
    margin: auto;
}

.imgRight {
    width: 500px;
    margin: auto;
}

#data {
    width: 500px;
    margin: auto;
}

#github {
    width: 420px;
}

.whiteHeading {
    background-color: #E6E6E6;
}

.cyanHeading {
    background-color: #40e0d0;
    width: 100vw;
    margin-left: 0;
}


/*scroll*/


/*https://css-tricks.com/snippets/jquery/smooth-scrolling/*/


/*http://codepen.io/nxworld/pen/OyRrGy*/

.row a {
    position: absolute;
    left: 50%;
    z-index: 2;
    /*bottom: 50px;*/
    margin: auto;
    bottom: 18px;
    /*   margin-right: 0;*/
    /*margin-left: 0;*/
}

.row a:hover {
    background-color: #DF1C80;
}

.sections a span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(315deg);
    transition-timing-function: ease-in-out;
    transition: 1.5s;
    left: 18px;
}

.circleCrop2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*margin: auto;*/
    background-color: #2FA8A1;
}

.circleCrop2:hover span {
    transform: rotateY(180deg) rotateZ(315deg);
}


/*image flip*/

.flipBox {
    perspective: 1000px;
}

.flipBox:hover .flip,
.flipBox.hover .flip {
    transform: rotateY(180deg);
}

.flip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*margin: auto;*/
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

.flip,
.flipBox,
.front,
.back {
    width: 23vh;
    height: 23vh;
    /*max-height: 35vw;*/
    /*max-width: 35vw;*/
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
}

body {
    font-size: 8px;
}


/*@media screen and (min-height: 650px) {*/


/*    h1 {*/


/*        font-size: 30px;*/


/*    }*/


/*    h3 {*/


/*        font-size: 20px;*/


/*    }*/


/*    body {*/


/*        font-size: 15px;*/


/*    }*/


/*    .flip,*/


/*    .flipBox,*/


/*    .front,*/


/*    .back {*/


/*        width: 70vh;*/


/*        height: 70vh;*/


/*    }*/


/*}*/
